<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Spotify Data</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Material Design Bootstrap -->
    <link rel="stylesheet" href="css/mdb.min.css">
    <!-- Your custom styles (optional) -->
    <link rel="stylesheet" href="css/style.css">

</head>

<body class="body-bg">
   <nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar">
    
        <div class="container">
            <a class="navbar-brand h1-responsive display-4 heading-main text-white">Spotify Data</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapseNav"
   				 aria-controls="collapseNav" aria-expanded="false" aria-label="Toggle navigation">
    		<span class="navbar-toggler-icon"></span>
  			</button>
    </nav>

    <div class="container container-username">
        <div class="row">
        	<div class="col-12 text-center">
            <h3 class="h2 container-username-heading mx-auto">Recent Plays</h3></div>
            <div class="col-12 text-center mt-2">
            <a class="btn btn-success btn-rounded btn-sm mx-auto" type="button" href="/redirect">Go Back</a>
            </div>
        </div>
        <hr class="hr bg-success">
        <div >
            <div class="row">
                <div class="col-lg-3 col-md-4 col-6 my-2" th:each="track: ${tracks.items}">
                    <div class="card" style="width:10.5rem; min-height:284px" th:attr="onclick=|openSpotifyLink('${track.track.album.external_urls.spotify}')|">
                        <img class="card-img-top" src="https://i.scdn.co/image/ab67616d0000b273c450c89d3eb750d3535b0a0c" th:src="@{''+${track.track.album.images[0].url}+''}" alt="Card image cap">
                        <div class="card-body text-center py-1">
                            <p class="card-title text-dark font-weight-bold" th:text="${#strings.abbreviate(track.track.name,23)}">WAP (feat. Megan Thee Stallion)</p>
                            <p th:text="${#strings.abbreviate(track.track.album.name,28)}" class="card-title text-muted my-0">2020-08-07</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>







    <!-- jQuery -->
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="js/mdb.min.js"></script>
    <!-- Your custom scripts (optional) -->
    <script type="text/javascript">
  //changing padding of navbar on scroll
    $(window).scroll(function() {
        let position = $(this).scrollTop();
        if (position >= 100) {
            $('.navbar').addClass('custom-navigation-bar');
        } else {
            $('.navbar').removeClass('custom-navigation-bar');
        }
    });
  
  function openSpotifyLink(link){
	  window.open(link);
  }
    </script>

</body>

</html>